{% extends 'base.html' %}
{% block title %}Iniciar sesion{% endblock %}
{% block content %}
<body>
    <div class="formulario">
<h1>Inicio de sesion</h1>

<form method="post">
    <div class="username">
        <label>Nombre de usuario</label>
    <input type="text" required>
    
    </div>
    <div class="contraseña">
        <label>contraseña</label>
        <input type="password" required>
        
    </div>
    <div class="recordar"><a href={{ url_for('auth.recordar') }}>¿Olvidaste tu contraseña?</a></div>
     <input type="submit" value="iniciar">
     <div class="registrarse">
        quieres <a href= {{ url_for('auth.signup') }}>registrarse</a>
     </div>

</form>
    </div>
</body>
{% endblock %}
