<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recordar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
    <h1>Recuperar contraseña</h1>

    <div class="container">
        <h2>ingrese su correo</h2>
        <form action="" class="form">
            <div class="form__correo">
               <input type="email" placeholder="ingrese su correo" class="correo">

            </div>
            <div class="form_button">
                <a href="/auth/login">salir</a>
             <button>Enviar link</button>
            </div>
        </form>
    </div>


</body>
</html>